<%- include("./partials/header.ejs") %>

<div class="container">
  <div class="flash-quiz">
    <div class="second-content">
      <% if(isDemo == true){ %>
        <p><b>This is a demo. Login for a better experience</b></p>
    <% }%>
      <div id="Instruction" style="display: flex;"><div>Find the value of the abacus displayed in the card below. 
      </div><div style="flex-grow: 2;"></div><div> <b>Time:</b>&nbsp;<span id="minutes"></span>:<span id="seconds"></span></div></div>
     <p>
       <b>Question: <span id="currentquestion">1</span>/<span id="totalquestion"></span></b>
     </p>
    </div>
    <div class="flash-question-section">
      <div class="flash-question">
        <div class="text-center">
        <img
          id="flash-img-src"
          alt="image-abacus"
          class="flash-img img-thumbnail"
        />
        </div>
      </div>
    </div>
    <div class="flash-answers-section" id="flash-quiz-section"></div>
    <div class="flash-btns">
    <div class="button-quiz" id="button-quiz">
      <a id="next" onclick="next()">Next</a>
    </div>
    <div class="button-quiz" id="button-quiz">
      <a data-toggle="modal" data-target="#exampleModal">Submit</a>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Submit Quiz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Submiting will result in end of the quiz. Make sure you have answered all the questions.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sec" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning btn-btn" onclick="submit()" style="background-color: #F2D984 !important;">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>
    const question = <%- JSON.stringify(flashQuestion) %>;
    const options = <%- JSON.stringify(flashChoices) %>;
    const isDemo = <%- JSON.stringify(isDemo) %>;
    
    let currentQuestion = 0;
    let optionsSelected = [];

    var timeleft = 2400;
    timer();
    function timer(){
      downloadTimer =  setInterval(function(){
                  if(timeleft <= 0){ 
                    window.alert("Time is up");
                    submit();
                    clearInterval(downloadTimer);
                  }
                  var minutes = Math.floor(timeleft / 60);
                  var seconds = timeleft - minutes * 60;
                  document.getElementById("minutes").innerHTML = minutes;
                  document.getElementById("seconds").innerHTML = seconds;
                  timeleft -= 1;
              }, 1000);
    }

    const clearFields = () => {
      document
          .querySelectorAll(".flash-option")
          .forEach((e) => {
            if(e.classList.contains("selected")){
              e.classList.remove("selected");
            }
        })
    }

    const main = () => {
        document.getElementById("flash-img-src").src = question[currentQuestion];
        document.querySelector(".flash-answers-section").innerHTML = generateOption(options[currentQuestion], options[currentQuestion].length)
        document.getElementById("totalquestion").innerText = question.length;

        document
          .querySelectorAll(".flash-option")
          .forEach((e) => {
            e.addEventListener("click", (event) => {
              clearFields();
              event.target.classList.add("selected");
            })
        })
    }

    const optionHandler = () => {
      optionsSelected[currentQuestion] = getSelected() || "";
      currentQuestion += 1;
    }

    const generateOption = (values, count) => {
        let html = "";
        for(let i=0;i<count;i++){
            html += `<div class="number flash-option">${values[i]}</div>`
        }
        return html;
    }

    const getSelected = () => {
        let answer;
        document.querySelectorAll(".flash-option").forEach((e) => {
            if(e.classList.contains("selected")){
              answer = e.innerText;
            }
        })

        return answer;
    }

    const next = () => {
      optionHandler();
      if (currentQuestion < question.length){
        main();
      }
      else{
        submit();
      }
    }

    const submit = () => {
      optionHandler();
      $('#exampleModal').modal('hide');
      const url = "/flashCard";
      
      const param = {
        headers: {
          "content-type": "application/json; charset=UTF-8",
        },
        body: JSON.stringify({optionsSelected, "isDemo": isDemo}),
        method: "post",
      };

      fetch(url, param)
        .then((response) => {
          response = response.json();
          return response;
        })
        .then((data) => {
          let tableData = "";

          data.arrayOfAnswers.forEach((answer, index) => {
            tableData += `<tr>
              <td class="table-value">${index + 1}</td>
              <td class="table-value"><img class="flash-img img-thumbnail" id="flash-img-src" src=${answer.question}></td>
              <td class="table-value">${answer.selected}</td>
              <td class="table-value">${answer.answer}</td>
              </tr>`
            })


          document.querySelector(".flash-quiz").innerHTML = 
            `
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col table-heading">Total Points</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-value">${data.points}</td>
                </tr>
              </tbody>
            </table>
            <br>
            <h2>Answer Sheet</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col table-heading">Question No.</th>
                  <th scope="col table-heading">Question</th>
                  <th scope="col table-heading">Selected Answer</th>
                  <th scope="col table-heading">Correct Answer</th>
                </tr>
              </thead>
              <tbody>
                ${tableData}
              </tbody>
            </table>
            `
        })
    }

    main();

</script>

<%- include("./partials/footer.ejs") %>
