<%- include("./partials/header.ejs") %>
    <div class="quiz-section">
      <div class="second-content">
        <p>
          Quiz Exercise helps children improve listening skills, good cognitive strength and faster speed and accuracy. It’s the best way to quickly do simple to complex mathematical calculations with speed and accuracy. When we teach children, we attempt to also help them listen the numbers and calculations and do it with speed. Group learning helps children understand their level of speed and accuracy with peer children in the same level. 
          <ul>
            <li>Better Listening Skills</li>
            <li>Good Cognitive Strength</li>
            <li>Faster Speed with Accuracy </li>

          </ul>
        </p>
        <p id="Instruction" style="font-weight: bolder;">
        </p>
       <p>
         <b>Question: <span id="currentquestion">10</span>/<span id="totalquestion">10</span></b>
       </p>
      </div>
      <div>
        <div>
          <div class="margin quiz-info-section">
              <div class="timer">
                <div class="timer-text" id="progressBar">
                  <img class="timer-loader" src="/assets/spinner.gif">
                </div>
              </div>
            <div class="quiz-heading">
              <h1 id="heading" style="opacity: 0;">
                Select The Correct Answer
              </h1>
            </div>
            <div class="quiz-props">
                <div>
                  <img src="/assets/abacus.png" class="abacus-img" />
                </div>
                <div class="timer-text">
                  <b id="sign"> + </b>
                </div>
                <div>
                  <img src="/assets/clock.png" class="abacus-img" />
                </div>
                <div class="timer-text">
                  <b id="time"> 60 </b>
                </div>
            </div>
          </div>
          <div class="quiz-number-section"><div class="question-number" id="question"><img class="timer-loader" src="/assets/spinner.gif"></div></div>
          <div id="main-quiz-section">
            <div
              id="option1"
              class="number choices"
            ></div>
            <div
              id="option2"
              class="number choices"
            ></div>
            <div
              id="option3"
              class="number choices"
            ></div>
            <div
              id="option4"
              class="number choices"
            ></div>
          </div>
          <br />
          <div
            style="display: flex; justify-content: space-evenly;"
          >
            <div class="button-quiz">
              <a onclick="reload()">Restart</a>
            </div>
            <div class="button-quiz" id="button-quiz">
              <a id="next" onclick="nextQuestion()">Next</a>
            </div>
            <div class="button-quiz">
              <a data-toggle="modal" data-target="#exampleModal">Change Mode</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Quit Quiz</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            All the progress will be lost. Are you sure you want to quit?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sec" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning btn-btn" onclick="goBack()" style="background-color: #F2D984 !important;">Change Mode</button>
          </div>
        </div>
      </div>
    </div>
    <div style="position: fixed; width: 100%; background-color: gray;  z-index: 100; opacity: 0.3; top: 0px; height: 100%;" id="load">
      <div class="loader" style="margin: auto; top: 48%; position: absolute; left: 50%; z-index: 101; opacity: 1 !important;">
      </div>
    </div>
    <!-- </div> -->
    <br />
    <%- include("./partials/footer.ejs") %>
    <script>
              var question = <%- JSON.stringify(quizQuestion)   %> ;
              var options = <%- JSON.stringify(quizChoices)   %>;
              var operation = <%- JSON.stringify(operation)   %>;
              var timeval = <%- JSON.stringify(time)   %>;
              var points= 0;
              var currentquestion = 1;
              var downloadTimer;
              var done = false;
              var questionArray = new Array();
              document.getElementById('load').style.display="none";
              if(operation == "subAndAdd"){
                document.getElementById('sign').innerHTML="+";
                document.getElementById('Instruction').innerHTML="Find the sum of the numbers displayed in the cards below."
              }else {
                document.getElementById('sign').innerHTML="*";
                document.getElementById('Instruction').innerHTML="Find the product of the numbers displayed in the cards below."
              }

              document.getElementById('time').innerHTML=timeval;

              document.getElementById('currentquestion').innerHTML = currentquestion;
              for( let j = 0; j < question.length; j++){
                  let stringArray = new Array();
                  let string = question[j];
                  string = string.split(" ");
                  for(let i =0; i < string.length; i++){
                      stringArray.push(string[i]);
                  }
                  questionArray.push(stringArray);

              }
              var noOfQuestion = questionArray.length;
              document.getElementById('totalquestion').innerHTML = noOfQuestion;

              var noOfDigits = questionArray[0].length;
              var timeleft = timeval;
              var eachtime = timeleft/(noOfQuestion - 1);
              timer();

              function timer(){
                  var currentDigit = 0;

                      document.getElementById("option1").classList.remove("choice-view")
                      document.getElementById("option2").classList.remove("choice-view")
                      document.getElementById("option3").classList.remove("choice-view")
                      document.getElementById("option4").classList.remove("choice-view")
                      document.getElementById("question").style.display = "block";
                      document.getElementById("question").style.color = "#FAEF6F";
                      document.getElementById("heading").style.opacity = 0;
                      document.getElementById("main-quiz-section").style.justifyContent = "center";
                      document.getElementById("button-quiz").style.display = "none";

                  downloadTimer = setInterval(function(){
                  if(timeleft <= 0){
                      clearInterval(downloadTimer);
                      document.getElementById("question").style.display = "none";
                      document.getElementById("heading").style.opacity = 1;
                      document.getElementById("option1").innerHTML = options[currentquestion - 1][0];
                      document.getElementById("option2").innerHTML = options[currentquestion - 1][1];
                      document.getElementById("option3").innerHTML = options[currentquestion - 1][2];
                      document.getElementById("option4").innerHTML = options[currentquestion - 1][3];
                      document.getElementById("main-quiz-section").style.justifyContent = "space-evenly";
                      document.getElementById("option1").classList.add("choice-view")
                      document.getElementById("option2").classList.add("choice-view")
                      document.getElementById("option3").classList.add("choice-view")
                      document.getElementById("option4").classList.add("choice-view")
                      document.getElementById("button-quiz").style.display = "block";

                  }

              document.getElementById("progressBar").textContent = timeleft;
              document.getElementById("question").innerHTML = questionArray[currentquestion - 1][currentDigit];
              document.getElementById("question").opacity = 1;
              timeleft -= 1;
              }, 1000);
              var changequest = setInterval(function(){
                  if(timeleft <= 2*eachtime){
                      clearInterval(changequest);
                  }
                  if(currentDigit !== noOfDigits - 2){
                    currentDigit = currentDigit + 1;
                  }

              }, eachtime*1000);

              }
              
              document.querySelectorAll(".choices").forEach((e) => {
              e.addEventListener("click", () => {
                const data = {
                  answer: e.innerText,
                  index: currentquestion -1,
                  question: question[currentquestion -1 ],
                };

                let loaderOfAnswer;

                if(!done){
                  loaderOfAnswer = setTimeout(() => {
                    document.getElementById('load').style.display="inline-block";
                  }, 1000)
                }

                const url = "/quizquestion";

                const param = {
                  headers: {
                    "content-type": "application/json; charset=UTF-8",
                  },
                  body: JSON.stringify(data),
                  method: "post",
                };

                fetch(url, param)
                  .then((response) => {
                    response = response.json();
                    return response;
                  })
                  .then((data) => {
                      document.querySelectorAll(".choices").forEach((e,index) => {
                        document.getElementById('load').style.display="none";
                        if(e.innerText == data.answer){
                          document.querySelectorAll(".choices")[index].style.color = "#82ff50";
                        }}
                      )

                      if(!done){
                        if (data.result) {
                          e.style.color = "#82ff50";
                          document.getElementById("heading").style.color = "#82ff50";
                          document.getElementById("heading").innerHTML = "CORRECT ANSWER";
                          points = points + 1;
                        } else {
                          e.style.color = "#f53d3d";
                          document.getElementById("heading").style.color = "#f53d3d";
                          document.getElementById("heading").innerHTML = "WRONG ANSWER";
                        }
                        clearTimeout(loaderOfAnswer);
                        done = true;
                      }
                  })
                  .catch((err) => {
                  });
              });


            });

      function nextQuestion() {
          timeleft = timeval;
          done = false;
          currentquestion += 1;
          document.getElementById("heading").innerHTML = "Select The Correct Answer";
          document.getElementById("heading").style.color = "#000000db";
          document.getElementById("heading").style.opacity = 0;

          if(currentquestion <= noOfQuestion){
            document.getElementById('currentquestion').innerHTML = currentquestion;
            document.querySelectorAll(".choices").forEach((e) => {
              e.style.border.color = "#000000db";
              e.style.color = "#faef6f"
            })
            timer();
          }
          if(currentquestion > noOfQuestion) {
            clearInterval(downloadTimer);
            document.getElementById("main-quiz-section").style.display = "None";
            document.querySelector(".quiz-number-section").innerHTML = 
            `
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col table-heading">Total Points</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-value">${points}</td>
                </tr>
              </tbody>
            </table>
            `

            const finalUrl = "/finalQuiz";
            let url = new URL(window.location.href);
            let searchParams = new URLSearchParams(url.search);

            const finalparam = {
              headers: {
                "content-type": "application/json; charset=UTF-8",
              },
              body: JSON.stringify({points, type: searchParams.get('type'), operation: searchParams.get('operation'), screens: searchParams.get('length'), time: searchParams.get('time')}),
              method: "post",
            };

            fetch(finalUrl, finalparam)
          }
      }
      function reload() {
        location.reload();
      }
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
